@using ATH_Hostel.ViewModels
@model RoomViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HostelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HostelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceForNight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceForNight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BedsAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BedsAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomType)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
